In [15]:
#convert PorCuEX2008.csv to gpml
import pandas as pd

import pygplates
from parameters import parameters
import Utils

data = pd.read_csv("../data/PorCuEX2008.csv")
display(data)

static_polygons = pygplates.FeatureCollection(parameters['static_polygons_file'])
rotation_model = pygplates.RotationModel(Utils.get_files(parameters['rotation_files']))
plate_ids = Utils.get_plate_id(data.LongitudeDecimal.tolist(), 
                               data.LatitudeDecimal.tolist(), 
                               static_polygons, 
                               rotation_model)
print(sorted(data.AgeMY))
data['PlateID'] = plate_ids
data.AgeMY.fillna(0,inplace=True)
point_features = []
for index,row in data.iterrows():
    point = pygplates.PointOnSphere(float(row.LatitudeDecimal),float(row.LongitudeDecimal))
    point_feature = pygplates.Feature()
    point_feature.set_geometry(point)
    point_feature.set_name(row.NameDeposit)
    point_feature.set_valid_time(float(row.AgeMY), pygplates.GeoTimeInstant.create_distant_future())
    point_feature.set_reconstruction_plate_id(int(row.PlateID))
    point_features.append(point_feature)
    
fc = pygplates.FeatureCollection(point_features)
fc.write('PorCuEX2008.gpmlz')
print('done!')

,NameDeposit,Includes,OtherNames,Country,CountryCode,StateProvince,LatitudeDecimal,LongitudeDecimal,AgeMY,Deposit Age,...,OreBAxis,OreArea,AlterAAxis,AlterBAxis,AlterArea,SulfideAAxis,SulfideBAxis,SulfideArea,Comments,References
0,Agua Rica,NaN,Mi Vida,Argentina,AGTN,Catamarca,-27.370833,-66.280000,5.5,6–5,...,0.0,0.00,4.4,3.80,13.1,0.0,0.0,5.7,0.2% Cu cut-off grade. Exposed. Superposition ...,"Bargmann, C.J., 2000, Agua Rica prospect, Cata..."
1,Alcaparrosa,NaN,NaN,Argentina,AGTN,San Juan,-31.300000,-69.366667,267.0,267,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,NaN,"Sillitoe, R.H., 1977, Permo-Carboniferous, upp..."
2,Arroyo Chita,NaN,Chita,Argentina,AGTN,San Juan,-30.500000,-69.750000,12.0,12,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,NaN,"Sillitoe, R.H., 1977, Permo-Carboniferous, upp..."
3,Bajo de Agua Tapado,NaN,NaN,Argentina,AGTN,Catamarca,-27.266667,-66.650000,8.5,11–6,...,0.0,0.00,5.3,1.50,6.2,1.3,1.1,1.1,"Thin veins ≤2.2 g/t Au, 174 g/t Ag. Exposed. F...","Alderete, M.C., 1999, Bajo de Agua Tapada, Cat..."
4,Bajo de la Alumbrera,NaN,NaN,Argentina,AGTN,Catamarca,-27.329722,-66.608889,7.5,8.02±0.14 to 6.75±0.09,...,0.6,0.52,2.5,1.75,3.4,0.0,0.0,0.0,1999 resources: 767 Mt at 0.51% Cu and 0.64 g/...,"Angera, J.A., 1999, Mina Bajo de la Alumbrera,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,Almalyk,"Kal'makyr, Dalnee, NW Balykty",,Uzbekistan,UZBN,NaN,40.813889,69.646389,289.5,309–270,...,0.0,0.00,0.0,0.00,0.0,4.2,1.0,3.3,"Total reserves include: Kal’makyr, 2700 Mt at ...","Golovanov, I.M., 1978, Types of copper deposi..."
686,Kyzata,NaN,NaN,Uzbekistan,UZBN,NaN,40.798611,69.706111,289.5,309–270,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,Saukbulak district.,"Sokolov, A.L., 1999, Regional and local contro..."
687,Sarycheku,NaN,NaN,Uzbekistan,UZBN,NaN,40.776944,69.779167,289.5,309–270,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,Saukbulak district. Deposit is deeply eroded.,"Golovanov, N.M., 1978, Types of copper deposit..."
688,Tekeli,NaN,NaN,Uzbekistan,UZBN,NaN,41.097778,70.125833,295.0,Late Carboniferous–Permian,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,"Ore-bearing stock, 6 sq.km., exposed from 1700...","Golovanov, N.M., 1978, Types of copper deposit..."
689,Samba,NaN,NaN,Zambia,ZMBA,NaN,-12.607222,27.881944,1964.0,1964±12,...,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,NaN,"Rainaud, C., Master, S., Armstrong, R.A., Robb..."

[0.0, 0.0, 0.0, 0.0, 0.0, 4.4, 5.5, 7.0, 7.5, 8.0, 8.5, 12.0, 13.0, 14.0, 14.0, 14.0, 15.0, 15.0, 22.0, 22.0, 29.0, 31.0, 33.0, 36.0, 36.0, 39.5, 45.0, 50.0, 50.0, 51.0, 52.5, 56.5, 61.0, 73.5, 74.0, 78.0, 79.0, 82.0, 84.0, 86.0, 121.0, 121.0, 143.0, 143.5, 170.0, 171.0, 172.0, 184.0, 185.5, 186.0, 188.0, 193.5, 195.0, 198.5, 200.0, 205.0, 212.0, 261.0, 267.0, nan, 250.0, 263.5, 265.0, 281.0, nan, 260.0, 390.0, 416.0, 441.5, 445.0, 447.0, 448.5, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 33.0, 40.0, 49.5, 52.5, 76.0, 80.5, 81.0, 86.0, 89.5, 90.0, 90.0, 92.0, 135.0, 135.0, 135.0, 179.0, 200.0, 205.5, 205.5, 220.0, 235.0, 235.0, 235.0, 235.0, 245.0, 246.0, 250.0, 285.0, 285.0, 310.0, 419.0, 440.0, 840.0, 840.0, 1141.0, 1880.0, 3234.0, nan, 207.5, nan, nan, 197.0, 210.0, nan, nan, nan, 197.0, 200.0, 203.0, nan, nan, 202.0, nan, 0.0, 5.4, 14.0, 29.0, 32.0, 37.0, 44.0, 82.5, 85.0, 183.0, 193.5, 195.0, 196.0, 202.5, nan, 220.0, nan, 0.0, 33.0, 35.0, 36.0, 36.0, 37.0, 41.0, 42.0, 42.0, 52.0, 73.0, 112.0, 142.0, 251.5, 348.0, 621.0, 1055.0, 1070.0, 2500.0, 2575.0, 2633.0, 2700.0, 2715.0, nan, nan, nan, 0.0, 4.7, 9.5, 11.2, 13.7, 14.0, 15.0, 31.0, 33.5, 33.5, 35.0, 35.5, 36.0, 36.0, 36.0, 36.0, 36.5, 37.0, 37.3, 38.0, 40.7, 42.0, 43.5, 57.3, 57.5, 58.0, 63.0, 63.5, 64.0, 64.0, 114.5, 142.0, 144.0, 173.0, 275.0, nan, 132.0, nan, 260.0, 291.5, nan, 350.0, 450.0, nan, 0.0, 0.0, 14.0, 14.7, 15.5, 16.0, 17.0, 20.0, 20.0, 32.0, 36.0, 36.0, 36.5, 37.5, 38.0, 38.5, 40.7, 41.9, 43.0, 46.0, 48.0, 52.0, 55.0, 105.0, 131.0, 136.0, 144.0, 148.0, 162.0, 166.0, 166.0, 183.0, 213.0, 333.0, 348.0, 350.0, nan, 333.0, 350.0, 2150.0, nan, nan, nan, nan, 0.0, 0.0, 0.0, 3.0, 3.0, 3.1, 3.55, 3.7, 3.75, 5.6, 6.0, 6.5, 8.75, 9.6, 10.6, 11.0, 11.0, 14.0, 14.0, 14.9, 14.9, 15.0, 16.0, 16.0, 19.0, 19.0, 21.0, 23.5, 35.5, 66.0, 105.0, 141.0, 154.0, nan, 29.0, 154.0, 154.0, 154.0, 154.0, 154.0, 1850.0, 2490.0, nan, nan, nan, 0.0, 7.0, 8.0, 11.0, 12.0, 12.5, 14.9, 23.0, 23.0, 30.0, 30.5, 34.0, 245.0, 250.0, 285.0, 292.0, 293.5, 301.0, 310.0, 310.0, 310.0, 310.0, 310.0, 310.0, 310.0, 312.0, 315.0, 325.0, 329.0, 330.0, 333.0, 355.0, 375.0, 400.5, 410.0, 420.0, 422.0, 445.0, 479.0, nan, nan, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 2.7, 3.5, 5.8, 7.0, 7.0, 7.5, 10.0, 10.0, 10.5, 12.0, 13.4, 14.7, 15.0, 15.7, 16.0, 16.0, 17.0, 17.8, 19.5, 20.0, 23.2, 30.0, 31.0, 32.0, 33.0, 33.0, 33.0, 33.0, 35.7, 36.0, 36.0, 36.0, 38.0, 46.0, 51.0, 51.6, 52.0, 53.0, 53.7, 54.0, 54.0, 56.0, 57.0, 57.0, 57.0, 58.7, 59.0, 60.0, 62.0, 63.0, 63.0, 66.0, 154.0, 164.0, nan, 135.0, 222.0, 230.0, 250.0, 260.0, 260.0, 295.0, 300.0, 300.0, 327.0, 330.0, 367.0, 370.0, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 1.15, 3.4, 3.4, 3.55, 3.65, 4.4, 5.0, 5.0, 7.0, 9.0, 10.5, 10.5, 11.5, 13.0, 13.5, 14.9, 15.0, 15.0, 21.0, 21.0, 24.0, 24.0, 24.0, 24.0, 25.0, 32.5, 34.0, 36.0, 49.0, 56.5, 57.0, 59.0, 1800.0, 1930.0, nan, nan, 59.0, nan, nan, nan, 57.0, 108.0, nan, nan, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.35, 1.5, 2.1, 2.1, 3.5, 3.5, 3.5, 4.55, 7.3, 10.0, 10.0, 14.9, 17.5, nan, 9.5, 10.0, 10.0, 13.3, 19.5, 20.5, 20.5, 20.6, 25.0, nan, nan, 30.0, nan, 0.0, 0.0, 0.0, 2.0, 2.6, 3.55, 3.6, 6.4, 8.2, 9.2, 11.0, 11.4, 13.3, 14.0, 14.5, 14.9, 14.9, 14.9, 21.5, 24.4, 25.0, 31.3, 34.0, 38.0, 40.0, 52.5, 53.0, 55.0, 58.0, 59.0, 59.0, 59.0, 59.0, 59.5, 61.0, 61.0, 63.0, 63.5, 63.5, 64.0, 65.0, 65.0, 65.0, 65.0, 66.0, 68.0, 68.5, 71.0, 72.0, 73.0, 75.0, 75.0, 82.0, 83.5, 84.0, 84.6, 89.5, 94.5, 94.5, 94.5, 105.0, 111.0, 123.0, 142.0, 142.0, 180.0, 230.0, 230.0, 231.0, 315.0, 340.0, 340.0, 345.0, 347.0, 347.0, 347.0, 347.0, 347.0, 367.0, 515.0, 1880.0, 1886.0, 1890.0, nan, nan, nan, 390.0, nan, 0.0, 0.0, 38.0, 38.0, 46.0, 50.0, 52.5, 55.5, 55.5, 56.0, 56.0, 58.0, 58.0, 60.0, 60.0, 60.5, 62.0, 63.0, 63.5, 63.5, 65.0, 67.5, 68.0, 70.0, nan, 69.0, nan, nan, 67.5, nan, nan, 74.0, nan, 100.0, nan, 72.5, 75.0, 86.0, 110.0, 150.0, 169.0, 443.0, 443.0, nan, 0.0, 16.5, 18.0, 21.0, 25.0, 28.0, 28.0, 28.5, 29.0, 33.0, 35.5, 37.0, 40.0, 40.0, 41.0, 42.0, 60.0, 65.0, 65.0, 65.0, 65.0, 81.0, 88.5, 89.0, 105.0, 105.0, 161.0, 167.0, 179.0, 207.0, nan, 289.5, 289.5, 289.5, 295.0, 297.5, 343.0, 343.0, 1964.0]
done!

In [22]:
#point rotation on globe
import Quaternions
print(Quaternions.rotate([12, 34],[23,121],34))
with open('ring.gmt','w+') as f:
    for angle in range(360):
        lat, lon = Quaternions.rotate([12, 120],[23,121],angle)
        f.write(f"{lon:.2f} {lat:.2f}\n")
        
print('done')

(-18.77546821899609, 47.952760565009555)
done

In [12]:
# Given two points, get third point of triangle.
import Quaternions
import math

PA_lon_lat = (-12.194557, 13.423369)
PB_lon_lat = (11.161865, -11.856508)

PA_xyz = (Quaternions.lat_lon_to_cart(math.radians(PA_lon_lat[1]), math.radians(PA_lon_lat[0])))
PB_xyz = (Quaternions.lat_lon_to_cart(math.radians(PB_lon_lat[1]), math.radians(PB_lon_lat[0])))

AB_middle_xyz = ((PA_xyz[0] + PB_xyz[0])/2, (PA_xyz[1] + PB_xyz[1])/2, (PA_xyz[2] + PB_xyz[2])/2)
AB_middle_xyz = Quaternions.normalize(AB_middle_xyz)

print(AB_middle_xyz)

AB = (PA_xyz[0] - PB_xyz[0], PA_xyz[1] - PB_xyz[1], PA_xyz[2] - PB_xyz[2])
AB =  Quaternions.normalize(AB)

print(AB)

middle_lat, middle_lon = Quaternions.cart_to_lat_lon(AB_middle_xyz[0], AB_middle_xyz[1], AB_middle_xyz[2])
pole_lat, pole_lon = Quaternions.cart_to_lat_lon(AB[0],AB[1],AB[2])

middle_lat = math.degrees(middle_lat)
middle_lon = math.degrees(middle_lon)
pole_lat = math.degrees(pole_lat)
pole_lon = math.degrees(pole_lon)

with open('ring.gmt','w+') as f:
    f.write(f"{middle_lon:.2f} {middle_lat:.2f}\n")
    f.write(f"{pole_lon:.2f} {pole_lat:.2f}\n")
    f.write(f"{PA_lon_lat[0]:.2f} {PA_lon_lat[1]:.2f}\n")
    f.write(f"{PB_lon_lat[0]:.2f} {PB_lon_lat[1]:.2f}\n")
    for angle in range(360):
        lat, lon = Quaternions.rotate([middle_lat, middle_lon],
                                      [pole_lat, pole_lon],
                                      angle)
        f.write(f"{lon:.2f} {lat:.2f}\n")
        
print('done')

(0.9998674342786105, -0.008377181882866902, 0.013961973098740511)
(-0.015977765871446153, -0.6698790025862467, 0.7422983449340385)
done

In [8]:
import pandas as pd
data = pd.read_csv('coreg_output/deposit_positives.csv')
seafloor_age = data['seafloor_age']
seafloor_age = seafloor_age.sort_values()
print(seafloor_age.isna().sum())
display(seafloor_age)

266

259    38.728
176    49.224
173    56.141
204    56.607
219    56.807
        ...
272       NaN
274       NaN
275       NaN
276       NaN
281       NaN
Name: seafloor_age, Length: 311, dtype: float64